</div> 

<section id="contact" style="">
    <div class="container">
        <div class="row">
            <div class="about_our_company" style="margin-bottom: 20px;">
                <h1 style="color:#ffffff; font-family: 'Rubik',sans-serif;">Write Your Message</h1>
                <div class="titleline-icon"></div>
                <p style="color:#ffffff; font-family: 'Rubik',sans-serif;">LatamArt </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <%= form_for @message, url: contact_path do |message_form| %>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <%= message_form.text_field :name, placeholder: "Your name *", class:"form-control", "data-validation-required-message":"Please enter your name.", required:"" %>
                              <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                              <%= message_form.email_field :email, placeholder: "Your email *", class:"form-control", "data-validation-required-message":"Please enter your name.", required:"" %>
                              <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                              <%= message_form.text_field :telephone, placeholder: "Your telephone *", class:"form-control", "data-validation-required-message":"Please enter your name.", required:"" %>
                              <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <%= message_form.text_area :content, placeholder: "Your message *", class:"form-control", "data-validation-required-message":"Please enter your name.", required:"" %>
                              <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <%= message_form.submit "Send Message", style: "color:#ffffff, font-family: 'Rubik',sans-serif;", class: "btn btn-xl get"%>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-4">
                <p style="color:#ffffff; font-family: 'Rubik',sans-serif;">
                    <strong><i class="fa fa-map-marker"></i> Address</strong><br>
                    admon@latinamericanpost.com
                </p>
                <p style="color:#ffffff;font-family: 'Rubik',sans-serif;"><strong><i class="fa fa-phone"></i> Phone Number</strong><br>
                    +57 1 6163966</p>
                <p style="color:#ffffff;, font-family: 'Rubik',sans-serif;">
                    <strong><i class="fa fa-envelope"></i>  Email Address</strong><br>
                    admon@latinamericanpost.com</p>
                <p></p>
            </div>
        </div>
    </div>
</section>

