<div class = "col-md-4 text-center"></div>
<div class = "col-md-4 text-center">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
	  <%= f.label :email %><br />
	  <%= f.email_field :email, class: "form-control", :autofocus => true %>
  </div>

  <div class="form-group">
  	<%= f.submit "Resend confirmation instructions", class: "btn btn-primary"%>	
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
<div class = "col-md-4 text-center"></div>