<div class="container">
	<div class="row">
		<% listings.each do |item| %>
		  <div class="col-sm-5 col-md-pull">
		  	<% if item.pictures[0].present?%>
		    	<%= link_to item do %>
		    		<%= image_tag(item.pictures[0].image.url(:categories), class: "img-responsive", class: "full_column")%>
				    <h3><div class="carousel-caption">         
					    
					</div></h3>
				<% end %>
			<% end %>
		  </div>
		<% end %>
	</div>

	<div class='row text-center'>
		<%= will_paginate listings %>
	</div>
</div>
<script type="text/javascript">
$.fn.ajaxPagination = function() {
  this.on("click", function () {
    $.get(this.href, null, null, "script");
    return false;
  });
}

$(document).ready(function() {
  $( ".pagination a" ).ajaxPagination();
})
</script> 




