<h1>Editing artwork</h1>

<form id="formUpload" method="post"></form>

<%= form_for(@listing, :html => {multipart: true}, :url => update_listing_admin_path(@listing)) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <% @users = User.where("type_user = ?", '1') %>
    <%= f.select :user_id, options_for_select(@users.map{ |s| [s.email, s.id] }, selected_key = @listing.user_id),{ :include_blank => false }, { :class => 'btn btn-primary' } %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, type: "number", class: "form-control" %>
  </div>

  <br>

  <center><div class="form-group">
  <%= f.label :subject_id %><br>
  <% @subjects = Subject.all %>
  <%= f.select :subject_id, options_for_select(@subjects.map{ |s| [s.name, s.id] }, selected_key = @listing.subject_id),{ :include_blank => false }, { :class => 'btn btn-primary' } %>
  </div></center>

  <br>
  <br>
  <% @categories = Category.all %>
  <div class="row text-center">
  <label>Select a category</label><br>
  <label for="listing[category_id]" generated="true" class="error"></label>
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="cc-selector">
          <% @categories.each do |category| %>
            <div class="col-md-4">
              <%= f.label category.name %>
              <label class="drinkcard-cc" for=listing_category_id_<%=category.id.to_s%> >
                <%= f.radio_button :category_id, category.id.to_s %>
                <%= image_tag(category.photo.url(:medium), height:'150', width: '250', title: category.description)%>
              </label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  
  <br>
  <br>
  
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control", type: "number" %>
  </div>

  <div class="form-group">
    <%= f.label :currency_id %><br>
    <% @currencies = Currency.all %>
    <%= f.select :currency_id, options_for_select(@currencies.map{ |s| [s.currency, s.id] }, selected_key = @listing.currency_id),{ :include_blank => false }, { :class => 'btn btn-primary' } %>
  </div>

  <label for="photos_ids" generated="true" class="error" id="label_images"></label>
  <% if @listing.pictures.count!= 0 %>
  <%= f.label "Current images of artwork"%>
    <div class="row text-center">
      <% @listing.pictures.each do |picture|%>
        <% if !(picture.image.url(:thumb).blank?)%>
          <div class="col-sm-12 col-md-2">
            <div class="thumbnail">
              <div class="caption">
              <%= image_tag(picture.image.url(:thumb), height: '120' ,width: '200')%>
                <p><%= link_to 'Delete', picture, method: :delete, class: "removeUpload", onclick: "removeElementUpload(#{picture.id})"%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="upload_files" class="form-group">
    <%= f.label "Choose the images of your artwork" %><br>
    <% array = [] %>
    <% if @listing.pictures.count!= 0 %>

      <% @listing.pictures.each do |picture|%>
        <% array << picture.id %>
      <% end %>

      <input id="photos_ids" name="photos" type="hidden" value="<%=array.join(',')%>" required>
    <% else %>
      <input id="photos_ids" name="photos" type="hidden" value="" required>
    <% end %>

    <input data-url="/pictures" id="album_upload" multiple="multiple" name="images[]" type="file" form="formUpload"></input>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

<%= link_to 'Back', artworks_list_path, class: "btn btn-link" %>

<script id="template-upload" type="text/x-tmpl">
  <div class="row">
    <div class="upload">
      <div class="col-md-4">
      {%= o.name %}
        <div class="progress">
          <div class="bar" style="width: 0%">  
          </div>  
        </div>
      </div>
      <div class="col-md-6">
        <a id="delete" class="btn btn-danger" rel="nofollow">Delete</a>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">

$(document).ready(function(){
    $("#new_listing").validate({
      ignore: [],
      rules: {
        "listing[name]":{
          required: true
        },
        "listing[description]":{
          required: true
        },
        "listing[category_id]":{
          required: true
        },
        "listing[quantity]":{
          required: true
        },
        "listing[price]":{
          required: true
        },
        "photos": {
          required: true
        }
      },
      messages: {
        "listing[name]":{
          required: "Name of artwork must exist"
        },
        "listing[description]":{
          required: "Description of artwork must exist"
        },
        "listing[category_id]":{
          required: "Category must be selected"
        },
        "listing[quantity]":{
          required: "Stock of artwork must exist"
        },
        "listing[price]":{
          required: "Price of artwork must exist"
        },
        "photos": {
          required: "Upload at least one image"
        }
      }
    });

    $("#formUpload").validate({
      ignore: [],
      rules: {
        "listing[name]":{
          required: true
        },
        "listing[description]":{
          required: true
        },
        "listing[category_id]":{
          required: true
        },
        "listing[quantity]":{
          required: true
        },
        "listing[price]":{
          required: true
        },
        "photos": {
          required: true
        }
      },
      messages: {
        "listing[name]":{
          required: "Name of artwork must exist"
        },
        "listing[description]":{
          required: "Description of artwork must exist"
        },
        "listing[category_id]":{
          required: "Category must be selected"
        },
        "listing[quantity]":{
          required: "Stock of artwork must exist"
        },
        "listing[price]":{
          required: "Price of artwork must exist"
        },
        "photos": {
          required: "Upload at least one image"
        }
      }
    });

    $('.removeUpload').click(function(){
      $(this).parent().parent().parent().remove();
    });

  });

  //Uploader
  <% if @listing.pictures.count!= 0 %>
    <% array = []%>
    <% counter = 0 %>
    <% @listing.pictures.each do |picture|%>
      <%array << picture.id%>
    <% end %>

    var ids = [<%=array.join(',')%>];

  <% else %>

    var ids = [];

  <% end %>

  $(function(){
    $('#album_upload').fileupload({
      add: function(e, data) {
        var file, types;
        types = /(\.|\/)(gif|jpe?g|png)$/i;
        minSize = 1000000;
        file = data.files[0];
        $(':input[type="submit"]').prop('disabled', true);
        if (types.test(file.type) || types.test(file.name)) {
          if (file.size < minSize) {
            data.context = $(tmpl("template-upload", file));
            $('#upload_files').append(data.context);
            data.submit();
          } else {
            alert("" + file.name + " is too big, please upload a file less than 1 MB");
          }
        } else {
          alert("" + file.name + " is not a gif, jpeg, or png image file");
        }
      },
      progress: function(e, data) {
        var progress;
        if (data.context) {
          progress = parseInt(data.loaded / data.total * 100, 10);
          data.context.find('.bar').css('width', progress + '%');
        }
      },
      done: function (e, data) {
        var str = data.result;
        var json = JSON.parse(str);
        ids.push(json["picture_id"]);
        $('#photos_ids').val(ids);
        $('#label_images').remove();

        data.context.find('.upload').attr("id", json["picture_id"]);
        data.context.find('#delete').attr( "href" , "/pictures/" + json["picture_id"] );
        data.context.find('#delete').attr( "data-method" , "delete" );
        data.context.find('#delete').attr( "onclick" , "removeElement(" + json["picture_id"] + ")" );
      },
      stop: function (e) {
        $(':input[type="submit"]').prop('disabled', false);
      }
    });
  });

  function removeElement(id) {

    var elem = document.getElementById(id);
    elem.parentNode.removeChild(elem);
    remove(ids,id);
    $('#photos_ids').val(ids);

    return false;
  } 

  function removeElementUpload(id) {
    remove(ids,id);
    $('#photos_ids').val(ids);
  } 

  function remove(arr, what) {
    var found = arr.indexOf(what);

    while (found !== -1) {
        arr.splice(found, 1);
        found = arr.indexOf(what);
    }
  }

</script>

