<% @subject = Subject.find(params[:subject]) %>
<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<h1 class="gallery-title">Art by <%= @subject.name.downcase%></h1>
</div>

<div class="row">
	<% @listings.each do |item| %>
	  <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter all">
	    <%= link_to item do %>
	    	<%= image_tag(item.pictures[0].image.url(:categories), class: "img-responsive") %>
		   
		<% end %>
	  </div>
	<% end %>
</div>

<div class='row text-center'>
	<%= will_paginate @listings %>
</div>