<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">

  <h4>Artworks</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Name</th>
      <th class="center">Stock</th>
      <th class="center">Artist</th>
      <th class="center">Image</th>
      <th colspan="2"></th>
    </tr>

    <% @listings.each do |listing| %>
      <tr>
        <td class="center"><%= listing.name%>
        <td class="center"><%= listing.quantity %></td>
        <td class="center"><%= listing.user.first_name + ' ' + listing.user.last_name %></td>
        <td class="center"><%= image_tag(listing.pictures[0].image.url(:thumb))%></td>
        <td class="center"><%= link_to 'Edit', edit_listing_admin_path(listing) %></td>
        <td class="center"><%= link_to 'Destroy', destroy_listing_admin_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= link_to 'New artwork', new_listing_admin_path %>
</div>