<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1 class="gallery-title"><%=@listing.name%></h1>
</div>
<div class="row"></div>


<div class="container">
    <div class="row">
        <div class="col-md-2">

   <div class="support-menu">
                            <nav class="vertical">
                                <ul class="menu">
                                          <% if user_signed_in? %>
                                            <% if current_user.type_user == '1' %>
                                              <li><%= link_to "New artwork", new_listing_path, data: { no_turbolink: true } %></li>
                                            <% end %>
                                          <% end %>
                                          <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
                                            <ul>
                                            <% categories = Category.all %>
                                              <% categories.each do |category|%>
                                               <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 

                                           <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret"></b></a>
                                            <ul>
                                            <% subjects = Subject.all %>
                                              <% subjects.each do |subject|%>
                                               <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 
                                            <li><%= link_to "Artist", pages_artist_path %></li>  
                                            <li><%= link_to "Exhibition", pages_exhibition_path %></li> 
                                            <li><%= link_to "Appreciation", pages_Appreciation_path %></li> 
                                            <li><%= link_to "Museums", pages_museums_path %></li> 
                                               <li><%= link_to "Sign Up", new_user_registration_path %></li> 
                                          <li><%= link_to "Login", new_user_session_path%></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <br>
    <br>

<div class="container">
    <div class="row">
    <div class="col-md-4">

            <% counter = 0%>
            <% @listing.pictures.each do |picture|%>
              <% if counter == 0%>
                <div class="active item" data-slide-number="<%=counter%>">
                <%= image_tag(picture.image.url(:large))%></div>
              <% else %>
                <div class="item" data-slide-number="<%=counter%>">
                <%= image_tag(picture.image.url(:large))%></div>
              <% end %>
              <% counter = counter + 1%>

            <% end %>

    </div>
    <div class="col">
     
    <p><strong>Description: </strong><%= @listing.description %></p>

    <% if @listing.user.nick.present? %>
      <%=link_to user_profile_path(@listing.user.nick) do %>
        <%= image_tag(@listing.user.photo.url(:thumb), size:"50x50")%>
        <%= @listing.user.first_name + ' ' + @listing.user.last_name %>
      <% end %>
    <% else %>
      <div>
        <%= image_tag(@listing.user.photo.url(:thumb), size:"50x50")%>
        <%= @listing.user.first_name + ' ' + @listing.user.last_name %>
      </div>
    <% end %>

    <br>
    <br>

    <% if @listing.category.photo.present? %>
      <%= link_to pages_category_path(@listing.category.name.downcase) do %>
        <%=image_tag(@listing.category.photo.url(:thumb), size:"50x50")%>
        <%= @listing.category.name %>
      <% end %>
    <% else %>
      <%= link_to pages_category_path(@listing.category.name.downcase) do %>
        <%= @listing.category.name %>
      <% end %>
    <% end %>

    <br>
    <br>

    <% if @listing.subject.image.present? %>
      <%= link_to from_subject_path(@listing.subject.id) do%>
        <%=image_tag(@listing.subject.image.url(:thumb), size:"50x50")%>
        <%= @listing.subject.name %>
      <% end %>
    <% else %>
      <%= link_to from_subject_path(@listing.subject.id) do%>
        <%= @listing.subject.name %>
      <% end %>      
    <% end %>

    <br>
    <br>

    

    <% if @listing.comments.count == 0%>
    <strong> This artwork doesn't have comments yet </strong>
    <% else %>
    <p><strong>Global score: </strong><%= @listing.comments.average(:qualification).round(1).to_s + '/5.0'%></p>
    <% end %>

    <% isInCart = false %>
    <% @shopping_cart.in_shopping_cart.each do |i_sh| %>
      <% if i_sh.listing.id == @listing.id %>
        <% isInCart = true %>
      <% end %>
    <% end %>
    <br>
  </div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<% if user_signed_in? %>
  
    <div class="row">
      <%= render "comments/form-artwork" %>
    </div>
  <% end %>


<h4>Comments</h4>
<% if @listing.comments.count == 0 %>
  <strong>There are no comments for this artwork</strong>
<% else %>
    <% @comments = @listing.comments.paginate(:page => params[:page], :per_page => 9)%>
    <%= render partial: 'comment_grid', locals: { comments: @comments} %>
<% end %>

<br><br>
    </div>

  </div>
</div>


</div>
</div> 
 <br> <br> <br>

<script type="text/javascript">

    $(document).ready(function(){
        $.ajax({
         url: "/fetch_comments_listing",
         type: "GET",
         data: {listing_id: <%=@listing.id%>}
        });
    });

</script>

<script>
  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>