<div class="row col-md-1"></div>
<div class="row col-md-10">
<%= form_for([@listing,@comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>Make a comment</h4>

  <%= f.label :qualification %>
  <div class="row">
    <div class="form-group">
      <fieldset class="rating">
        <%= f.radio_button :qualification, '5'%><label for="comment_qualification_5"></label>
        <%= f.radio_button :qualification, '4'%><label for="comment_qualification_4"></label>
        <%= f.radio_button :qualification, '3'%><label for="comment_qualification_3"></label>
        <%= f.radio_button :qualification, '2'%><label for="comment_qualification_2"></label>
        <%= f.radio_button :qualification, '1'%><label for="comment_qualification_1"></label>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label "Comment" %>
      <%= f.text_area :text, class: "form-control"%>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>

<% end %>
</div>
<div class="row col-md-1"></div>

<script>
  $(document).ready(function(){
      $(".rating input[name='comment[qualification]']").attr("checked", false);
      $('.rating input[name="comment[qualification]"]').click(function () {
          $(".rating span[id='hola']").removeClass('checked');
          $(this).parent().addClass('checked');
      });

      $('input[name="comment[qualification]"]').change(
      function(){
          var userRating = this.value;
      }); 
  });
</script>