<div class="container">
  <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:50%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>

          <% suma = 0 %>
          <% @shopping_cart.in_shopping_cart.each do |i_sh| %>
            <tbody>
              <tr>
                <td data-th="Product">
                  <div class="row">
                    <div class="col-sm-2 hidden-xs">
                      <%= image_tag(i_sh.listing.pictures[0].image.url(:thumb), class: "img-responsive")%>
                    </div>
                    <div class="col-sm-10">
                      <h4 class="nomargin"><%= i_sh.listing.name %></h4>
                      <p><%=i_sh.listing.description%></p>
                    </div>
                  </div>
                </td>
                <td data-th="Price"><%= number_to_currency(i_sh.listing.price)%></td>
                <td data-th="Quantity">
                  <input type="number" class="form-control text-center" min="1" max=<%=i_sh.listing.quantity%> value=<%=i_sh.quantity%> id=<%=i_sh.id%>>
                </td>
                <td data-th="Subtotal" class="text-center"><%= number_to_currency(i_sh.listing.price * i_sh.quantity)%></td>
                <td class="actions" data-th="">
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, in_shopping_cart_path(id: i_sh.id), class:"btn btn-danger btn-sm", method: :DELETE%>          
                </td>
              </tr>
            </tbody>
          <% suma = suma + (i_sh.listing.price*i_sh.quantity)%>
          <% end %>

          <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
              <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong><%= number_to_currency(suma)%></strong></td>
              
              <% if @shopping_cart.in_shopping_cart.count != 0 %>
                <td><%= link_to 'Checkout <i class="fa fa-angle-right"></i>'.html_safe, new_shopping_cart_order_path(shopping_cart_id: @shopping_cart.id), class:"btn btn-success btn-block"%></td>
              <% end %>

            </tr>
          </tfoot>
        </table>
</div>

<script type="text/javascript">

  $('input[type=number]').change(function() {
      $.ajax({
         url: "/cart/update_quantity",
         type: "POST",
         data: {id: this.id, quantity: this.value},
        complete: function(){
          document.location.reload(); 
        }
      });
  });

</script>
