<%= render 'shared_admin/menu' %>
<div class="col-md-10">
<h1>Currencies</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td class="center"><%= currency.currency %></td>
        <td class="center"><%= link_to 'Show', currency %></td>
        <td class="center"><%= link_to 'Edit', edit_currency_path(currency) %></td>
        <td class="center"><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Currency', new_currency_path %>
</div>
