<% counter = 0 %>
<% comments.each do |comment|%>

<li class="list-group-item">
<div class="media">
  <div class="media-left">
    <% user_com = User.find(comment.user_id_two)%>
    <strong>Curator</strong>
    <%= image_tag user_com.photo.url(:thumb), height: '50', width: '50'%>
  </div>
  <div class="media-body">
    <h5 class="media-heading"><%= comment.user_name %></h5> 

    <fieldset class="rating-static">

    <%if comment.qualification == 5%>
      <input type="radio" id=group<%=counter%>str5 name=group<%=counter%> value="5" checked disabled/><label class = "full" for=group<%=counter%>str5></label>
    <% else %>
      <input type="radio" id=group<%=counter%>str5 name=group<%=counter%> value="5" disabled/><label class = "full" for=group<%=counter%>str5></label>
    <% end %>

    <%if comment.qualification == 4%>
      <input type="radio" id=group<%=counter%>str4 name=group<%=counter%> value="4" disabled checked/><label class = "full" for=group<%=counter%>str4 ></label>
    <% else %>
      <input type="radio" id=group<%=counter%>str4 name=group<%=counter%> value="4" disabled/><label class = "full" for=group<%=counter%>str4></label>
    <% end %>

    <%if comment.qualification == 3%>
      <input type="radio" id=group<%=counter%>str3 name=group<%=counter%> value="3" disabled checked disabled/><label class = "full" for=group<%=counter%>str3 ></label>
    <% else %>
      <input type="radio" id=group<%=counter%>str3 name=group<%=counter%> value="3" disabled/><label class = "full" for=group<%=counter%>str3></label>
    <% end %>
  
    <%if comment.qualification == 2%>
      <input type="radio" id=group<%=counter%>str2 name=group<%=counter%> value="2" checked disabled/><label class = "full" for=group<%=counter%>str2></label>
    <% else %>
      <input type="radio" id=group<%=counter%>str2 name=group<%=counter%> value="2" disabled/><label class = "full" for=group<%=counter%>str2></label>
    <% end %>

    <%if comment.qualification == 1%>
      <input type="radio" id=group<%=counter%>str1 name=group<%=counter%> value="1" checked disabled/><label class = "full" for=group<%=counter%>str1></label>
    <% else %>
      <input type="radio" id=group<%=counter%>str1 name=group<%=counter%> value="1" disabled/><label class = "full" for=group<%=counter%>str1></label>
    <% end %>
    
  </fieldset>
  <br>
  <br>
    <i><%= comment.created_at.strftime("%B %-d, %Y") %></i>
    <p><%= comment.text %></p>
  </div>
</div>
</li>
<% counter = counter+1 %>
<% end %>

<div class='row text-center'>
    <%= will_paginate comments %>
</div>

<script type="text/javascript">
$.fn.ajaxPagination = function() {
  this.on("click", function () {
    $.get(this.href, null, null, "script");
    return false;
  });
}

$(document).ready(function() {
  $( ".pagination a" ).ajaxPagination();
})
</script>