<h1>Editing user</h1>

<%= form_for(@user, :url => edit_user_admin_path(@user))   do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="form-group">
      <%= f.file_field :photo, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nick %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">https://www.latampostart.com/</span>
      <%= f.text_field :nick, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
  <%= f.label :type_user, "Type of user" %>
    <div class="radio-toolbar form-group">
      <%= f.radio_button :type_user, '1', checked: true %>
      <%= f.label :type_user, "Artist", for:'user_type_user_1' %>

      <%= f.radio_button :type_user, '0'%>
      <%= f.label :type_user, "Collector", for:'user_type_user_0' %>

      <%= f.radio_button :type_user, '2'%>
      <%= f.label :type_user, "Curator", for:'user_type_user_2' %>
    </div>
  </div>


    <div class="form-group">
        <%= f.label :Facebook %>
        <div class="input-group">
       <span class="fa fa-facebook"></span>
          <%= f.text_field :socialn1, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Instagram %>
        <div class="input-group">
          <i class="fa fa-instagram"></i> 
                    <%= f.text_field :socialn2, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Linkedin %>
        <div class="input-group">
      <i class="fa fa-linkedin"></i> 
          <%= f.text_field :socialn3, class: "form-control" %>
        </div>
      </div>



  <div class="form-group">
        <%= f.label :startPayment %>
        <div class="input-group">
     
          <%= f.text_field :startPayment, type: "date", class: "form-control" %>
        </div>
      </div>


        <div class="form-group">
        <%= f.label :finishPayment %>
        <div class="input-group">
      
          <%= f.text_field  :finishPayment, type: "date", class: "form-control" %>
        </div>
      </div>


       <div class="form-group">
        <%= f.label :statePayment %>
        <div class="input-group">
                <%= f.check_box :statePayment, {}, true, false %>
        </div>
      </div>




  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>


<%= link_to 'Back', users_path %>
