<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">

  <h4>Users</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Image profile</th>
      <th class="center">First name</th>
      <th class="center">Last name</th>
      <th class="center">Type of user</th>
      <th class="center">Email</th>
      <th class="center">Nick</th>
      <th class="center">Telephone</th>
      <th class="center">Confirmed?</th>
      <th class="center">socialn1</th>
      <th class="center">socialn2</th>
      <th class="center">socialn3</th>
      <th class="center">startPayment</th>
      <th class="center">finishPayment</th>
      <th class="center">statusPayment</th>
      <th colspan="3"></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td class="center"><%= image_tag(user.photo.url(:thumb)) %></td>
        <td class="center"><%= user.first_name %></td>
        <td class="center"><%= user.last_name %></td>

        <% if user.type_user == "0" %>
          <td class="center">Collector</td>
        <% elsif user.type_user == "1"%>
          <td class="center">Artist</td>
        <% elsif user.type_user == "2"%>
          <td class="center">Curator</td>
        <% end %>

        <td class="center"><%= user.email %></td>
        <td class="center"><%= user.nick %></td>
        <td class="center"><%= user.telephone %></td>
        <td class="center"><%= user.confirmed_at %></td>



        <td class="center"><%= user.socialn1 %></td>
        <td class="center"><%= user.socialn2 %></td>
        <td class="center"><%= user.socialn3 %></td>

         <td class="center"><%= user.startPayment %></td>
        <td class="center"><%= user.finishPayment %></td>
        <td class="center"><%= user.statePayment %></td>
       
        
<!--Algoritmo para realización de pago por aleatorios-->
       


        <!-- validación si registra el pago activar el checkbox de lo contraria la variable ingresa en false -->

       


        
        <td class="center"><%= link_to 'Edit', edit_user_adm_path(user) %></td>
        <td class="center"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= link_to 'New user', add_user_admin_path %>
</div>