<% if @user.blank?%>

  
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">
    <strong><p>User no longer available<br>
    Thank you for your interest. This user is no longer active.</p></strong>
    </h1>
    </div>
  </div>



<% else %>

  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title"><%= @user.first_name + ' ' + @user.last_name %></h1>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-2">



                        <div class="support-menu">
                            <nav class="vertical">
                                <ul class="menu">
                                      
                                          <% if user_signed_in? %>
                                            <% if current_user.type_user == '1' %>
                                              <li><%= link_to "New artwork", new_listing_path, data: { no_turbolink: true } %></li>
                                            <% end %>
                                          <% end %>

                                          <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
                                            <ul>
                                            <% categories = Category.all %>
                                              <% categories.each do |category|%>
                                               <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 

                                           <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret"></b></a>
                                            <ul>
                                            <% subjects = Subject.all %>
                                              <% subjects.each do |subject|%>
                                               <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 



                            

                                            <li><%= link_to "Artist", pages_artist_path %></li>  
                                            <li><%= link_to "Exhibition", pages_exhibition_path %></li> 
                                            <li><%= link_to "Appreciation", pages_Appreciation_path %></li> 
                                            <li><%= link_to "Museums", pages_exhibition_path %></li> 
                                             <li><%= link_to "Sign Up", new_user_registration_path %></li> 
       <li><%= link_to "Login", new_user_session_path%></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

 <div class="container">
    <div class="row">
<div class="col-md-10">
                  


  <div class="row"></div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag(@user.photo.url(:square),class: "img-responsive", class: "full_column") %>
      </div>
    </div>
    <div class="col-md-6">

    <p><%= @user.description %></p>
    <p><strong>Telephone:</strong> <%= @user.telephone %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>

     <% if @user.socialn1.blank? && @user.socialn2.blank? && @user.socialn3.blank?%>
     <strong> This user doesn't have social networks</strong>
      <% else %>
    <p><strong>Facebook:</strong> <%= @user.socialn1 %></p>
     <p><strong>Instagram:</strong> <%= @user.socialn2 %></p>
      <p><strong>Linkedin:</strong> <%= @user.socialn3 %></p>
      <% end %>

<br>

    <% case @user.type_user%>
    <% when '1'%>
    <p><strong>I am an Artist</strong></p>
    <% when '2'%>
    <p><strong>I am a Collector</strong></p>
    <% end %>

    <% if @user.comments.count == 0%>
    <strong> This user doesn't have comments</strong>
    <% else %>
    <p><strong>Global score: </strong><%= @user.comments.average(:qualification).round(1).to_s + '/5.0'%></p>
    <% end %>

    </div>
  </div>

  




            </div>
        </div>
    </div>
</section>  
   
</div>



</div>

<h3> My artworks </h3>
  <section class="section--center mdl-grid site-max-width">
    <% if @user.listings.count == 0 %>
      <strong>There aren't artworks avaible of this artist</strong>
    <% else %>
      <% @listings = @user.listings.paginate(:page => params[:page], :per_page => 6)%>
      <%= render partial: 'listing_grid', locals: { listings: @listings} %>
    <% end %>
  </section>

  <% if user_signed_in? %>
    <%if current_user.type_user == '2' %>
      <div class="row">
        <%= render "comments/form-artist" %>
      </div>
    <% end %>
  <% end %>

  <div class="row col-md-12">
    <h4>Comments</h4>
    <% if user_signed_in? %>
      <%if current_user.type_user == '2' && !user_signed_in? %>
          <% if @user.comments.count == 0 %>
            <strong>There aren't comments for this artist</strong>
          <% else %>
            <% @comments = @user.comments.paginate(:page => params[:page], :per_page => 9)%>
            <%= render partial: 'comment_grid', locals: { comments: @comments} %>
          <% end %>
        <% end %>
      <% end %>
  </div>
  
<% end %>

<br><br>

<% if @user.present?%>
  <script type="text/javascript">


    $(document).ready(function(){
        $.ajax({
         url: "/fetch_listings_user",
         type: "GET",
         data: {user_id: <%=@user.id%>}
        });

        $.ajax({
         url: "/fetch_comments_user",
         type: "GET",
         data: {user_id: <%=@user.id%>}
        });
    });

  </script>
<% end %>

