<% if @listing.present? %>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag @listing.pictures[0].image.url(:medium) %>
      </div>
      <h3><%= @listing.name %></h3>
      <h4><%= @listing.currency.currency%> <%= number_to_currency(@listing.price) %></h4>
    </div>
    <div class="col-md-8">

      <%= form_for([@listing, @order]) do |f| %>
        <% if @order.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

            <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <h4>Use a saved address</h4>
        <label for="address_id" generated="true" class="error"></label>
        <div class="row">
          <% current_user.addresses.each do |address| %>
            <div class="col-md-3">
              <input type="radio" name="address_id" value=<%=address.id%> id=<%=address.id%>>
              <label for=<%=address.id%>>
              <%= address.address%> <br>            
              <%= address.city%><br>
              <%= address.country%><br>
              <%= address.zip_code%>
            </div>
          <% end %>
        </div>

        <h4> or create one </h4>
        <div class="form-group">
          <label>Address</label>
          <input type="text" name="address[address]" class="form-control">
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" name="address[city]" class="form-control">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" name="address[country]" class="form-control">
        </div>
        <div class="form-group">
          <label>Zip code</label>
          <input type="text" name="address[zip_code]" class="form-control">
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
        </div>
                
      <% end %>
    </div>
  </div>

<% elsif @shopping.present? %>

  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
      <strong>Details </strong>
      <%suma = 0%>
        <% @shopping.in_shopping_cart.each do |i_sh| %>

          <div class="panel panel-primary">
            <div class="panel-heading"><%= i_sh.listing.name%></div>
            <div class="panel-body">
              <strong>Price: </strong><%= i_sh.listing.currency.currency%> <%= number_to_currency(i_sh.listing.price)%><br>
              <strong>Quantity: <%= i_sh.quantity%></strong>
            </div>
          </div>
          <%suma = suma + i_sh.listing.price%>
        <% end %>
        Total: <%= number_to_currency(suma)%>
      </div>
    </div>

    <div class="col-md-8">
      <%= form_for([@shopping, @order]) do |f| %>
        <% if @order.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

            <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <h4>Use a saved address</h4>
        <label for="address_id" generated="true" class="error"></label>
        <div class="row">
          <% current_user.addresses.each do |address| %>
            <div class="col-md-3">
              <input type="radio" name="address_id" value=<%=address.id%> id=<%=address.id%>>
              <label for=<%=address.id%>>
              <%= address.address%><br>            
              <%= address.city%><br>
              <%= address.country%><br>
              <%= address.zip_code%></label>
            </div>
          <% end %> 
        </div>

        <h4> or create one </h4>

        <div class="form-group">
          <label>Address</label>
          <input type="text" name="address[address]" class="form-control">
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" name="address[city]" class="form-control">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" name="address[country]" class="form-control">
        </div>
        <div class="form-group">
          <label>Zip code</label>
          <input type="text" name="address[zip_code]" class="form-control">
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>

<% end %>

<script type="text/javascript">

  $(document).ready(function(){
      $("#new_order").validate({
        rules: {
          "address_id": {
              required: function(element) {
                  return ($('input[name="address[address]"]').val().trim() == "" && $('input[name="address[city]"]').val().trim() == "" && $('input[name="address[country]"]').val().trim() == "" && $('input[name="address[zip_code]"]').val().trim() == "");
              }
          },
          "address[address]": {
              required: function(element) {
                  return $('[name=address_id]:checked').length == 0;
              }
          },
          "address[city]": {
              required: function(element) {
                  return $('[name=address_id]:checked').length == 0;
              }
          },
          "address[country]": {
              required: function(element) {
                  return $('[name=address_id]:checked').length == 0;
              }
          },
          "address[zip_code]": {
              required: function(element) {
                  return $('[name=address_id]:checked').length == 0;
              }
          }
        },
        messages: {
          "address_id": {
              required: "If you are not going to create a new address, you must select one"
          },
          "address[address]": {
              required: "Address is required"
          },
          "address[city]": {
              required: "City is required"
          },
          "address[country]": {
              required: "Country is required"
          },
          "address[zip_code]": {
              required: "Zip code is required"
          }
        }

      });
    });

  $('input[type=text]').click(function () {
      $('input[type=radio]').removeAttr("checked");
  });

</script>