<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">

  <h4>Orders</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Date</th>
      <th class="center">Sender</th>
      <th class="center">Reciever</th>
      <th class="center">Details</th>
      <th class="center">Buyer address</th>
      <th colspan="1"></th>
    </tr>

    <% @orders.each do |order| %>

      <tr>
        <td class="center"><%=order.created_at%></td>
        <% seller = User.find(order.seller_id)%>
        <td class="center">
          <%=seller.first_name + ' ' + seller.last_name%><br>
          <%=seller.email%>
        </td>
        <% buyer = User.find(order.buyer_id)%>
        <td class="center">
          <%=buyer.first_name + ' ' + buyer.last_name%>
          <%=buyer.email%>  
        </td>
        <td class="center">
          <table class="table table-striped table-bordered">
            <tr>
              <th class="center">Product</th>
              <th class="center">Quantity</th>
              <th class="center">Price</th>
            </tr>
            <% if order.listing_id.present? %>
              <% listing = Listing.find(order.listing_id) %>
              <tr>
                <td><%= listing.name %></td>
                <td><%= order.quantity%> </td>
                <td><%= number_to_currency(listing.price) %></td>
              </tr>
            <% end %>
          </table>
        </td>
        <% address = Address.find(order.address_id)%>
        <td class="center">
          <%= address.country %><br>
          <%= address.city %><br>
          <%= address.zip_code %><br>
          <%= address.address %>
        </td>

        <td class="center"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>

    <% end %>
  </table>
</div>