<div class="center">
  <h2>Your Purchase History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Quantity</th>
    <th class="center">Price of artwork</th>
    <th class="center">Total</th>
    <th class="center">Seller</th>
    <th class="center">Date Purchased</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.pictures[0].image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= order.listing.quantity%></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= number_to_currency(order.listing.price*order.quantity) %></td>
      <td class="center"><%= order.seller.first_name + ' ' + order.seller.last_name %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>

<br>

<% if user_signed_in? %>
  <% if current_user.type_user == '1' %>
  <%= link_to 'New artwork', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
  <% end %>
<% end %>