<div class="container">
    <div class="row">
  	<% @results.each do |item| %>
      <div class="col-sm-5 col-md-pull">
        <% if item.nick.present? %>
          <%= link_to user_profile_path(:nick => item.nick) do %>
          <% if item.listings.first.blank? %>
            <%= image_tag(item.photo.url(:square),class: "img-responsive", class: "full_column") %>
              <% else %>
                <%= image_tag(item.listings.first.pictures[0].image.url(:categories),class: "img-responsive", class: "full_column") %>
                <% end %>

            <% words = item.first_name + ' ' + item.last_name %>
            <% string_arr = words.split(' ') %>

            <div class="modified">
              <div class="carousel-caption">
                <span class="label">
                <h4 class="title"><%= string_arr[0] + ' ' + string_arr[1] + ' ' %>
                  <% if string_arr[2].present? %>
                    <%= string_arr[2] %>
                  <% end %>
                </h4>
                </span>
              </div>
            </div>

          <% end %>
        <% else %>

            <%= image_tag(item.photo.url(:square)) %>
            <% words = item.first_name + ' ' + item.last_name %>
            <% string_arr = words.split(' ') %>

            <div class="modified">
              <div class="carousel-caption">
                <span class="label">
                <h4 class="title text-right"><%= string_arr[0] + ' ' + string_arr[1] + ' ' %>
                  <% if string_arr[2].present? %>
                    <%= string_arr[2] %>
                  <% end %>
                </h4>
                </span>
              </div>
            </div>

        <% end %>
      </div>
    <% end %>

 
</div>

<div class='row text-center'>
  <%= will_paginate @results%>
</div>
</div>
