
		  <div class="col-md-6">
		  	<% if listing.pictures[0].present?%>
		    	<%= link_to listing do %>
		    		<%= image_tag(listing.pictures[0].image.url(:categories), class: "img-responsive", class: "full_column")%>
				    <h3><div class="carousel-caption">         
					    
					</div></h3>
				
				<% end %>
		
				<% end %>
		  </div>

