<div class="container">
    <div class="row">


        <% subjects.each do |subject|%>
            <div class="col-sm-5 col-md-pull">
             
                <% if subject.image.present? %>
                   
                    <%= link_to from_subject_path(:subject => subject.id), class: "box-content" do%>
                        <%= image_tag(subject.image.url(:categories), class: "full_column")  %>
                        <span class="texto" ><%= subject.name%></h4>
                    <% end %>
                <% else %>
                    <%= link_to from_subject_path(:subject => subject.id), class: "box-content" do%>
                        <%= image_tag("slide1.jpg", class: "full_column") %>
                        
                        <span class="texto" ><%= subject.name%></h4>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        



    </div>
</div>
<div class="container">
    <div class='row text-center'>
    	<%= will_paginate subjects %>
    </div>
</div>

<script type="text/javascript">
$.fn.ajaxPagination = function() {
  this.on("click", function () {
    $.get(this.href, null, null, "script");
    return false;
  });
}

$(document).ready(function() {
  $( ".pagination a" ).ajaxPagination();
})
</script>