<a data-toggle="modal" href="#modalTerms">Terms and conditions</a>

<div class="modal" id="modalTerms">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Terms and conditions</h4>
        </div>
        <div class="modal-body">
          
          
          <br>
         Latam Art Inc. ("Latam Art," "we" or "our") provides a service for selling and purchasing original works of art and commercially exploiting digital images of works of art (the "Service", collectively the "Services") through our website, accessible at www.Latamart.com (the "Site"). Please read carefully the following terms and conditions ("Terms") and our Privacy Policy, which may be found at www.Latamart.com/privacy and which is incorporated by reference into these Terms. These Terms govern your access to and use of the Site and Services, and constitute a binding legal agreement between you and Latam Art.

Certain areas of the Site and your access to certain Services may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and the terms and conditions posted for a specific area of the Site or for specific Services, the latter terms and conditions shall take precedence with respect to your use of or access to that area of the Site or Services.

YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE OR SERVICES OR BY SELLING OR PURCHASING A WORK ON OR THROUGH THE SITE OR SERVICES OR BY POSTING ANY CONTENT ON THE SITE, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SITE. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE OR SERVICES. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, "you" and "your" will refer and apply to that company or other legal entity.

Modification

Latam Art reserves the right, at its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or provide you with notice of the modification. We will also update the "Last Updated Date". By continuing to access or use the Site or Services after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site and Services.

Eligibility

The Site and Services are intended solely for persons who are 18 or older. Any access to or use of the Site or Services by anyone under 18 is expressly prohibited. By accessing or using the Site or Services you represent and warrant that you are 18 or older.

Account Registration

In order to list a work on the Site or to make a purchase through the Site, you must first create an account ("Account") by completing our registration process. During the registration process you will be required to provide certain information and you will establish a username and a password. Upon completion of our registration process you will become a "Member." You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. Latam Art reserves the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete. You are responsible for safeguarding your password. You agree not to disclose your password to any third party and to take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify Latam Art of any unauthorized use of your Account.

Privacy

See Latam Art's Privacy Policy at www.Latamart.com/privacy for information and notices concerning Latam Art's collection and use of your personal information.

Seller Terms and Conditions

Listing Works on the Site

As a Member, you may submit listings for original works of art ("Original Works of Art") that you have created and that you desire to sell through the Site and Services. You may not submit listings for Original Works of Art that were created by another artist. As a Member you may also submit listings for digital images of works of art ("Digital Works') that you have created and that you desire to commercially exploit through the Site and Services. You may not submit listings for Digital Works that were created by another artist. In order for your listings to be accepted, you must provide Latam Art with all the information requested on the applicable page of our Site and you must comply with any other Latam Art requirements as identified on such page. Without limiting the generality of the foregoing, if you submit listings for sale you may be required to verify your identity by separately providing Latam Art with a copy of a government-issued ID or similar documentation. Your listings must be accurate and complete and comply with Latam Art's then-current listings content guidelines, which are available at www.Latamart.com/guidelines. Latam Art reserves the right to edit any listings to ensure that they comply with these guidelines. You acknowledge that your listings may not be immediately searchable by keyword or category for several hours (or up to 24 hours in some circumstances). The placement of your listings in search and browse results may be based on factors that include without limitation title, keywords and price.

You acknowledge that Latam Art reserves the right to promote and market Original Works of Art and/or Digital Works through the use of sales and/or discounts. The sale or discount amount will apply to the listing price of Original Works of Art and/or Printed Works (defined below) relating to the Digital Works. You always retain the right to remove a listing for an Original Work of Art or Digital Work from the Site - please see below for instructions.

If you want to remove a listing for an Original Work of Art or Digital Work from the Site you must go to your account, click on the image you want to delete and then click on Delete and follow the steps set forth on that page.

Responsibility for Works

You acknowledge and agree that you are solely responsible for all Original Works of Art and Digital Works that you make available through the Site and Services. Accordingly, you represent and warrant that: (i) as to Original Works of Art that you make available through the Site and Services, you are the creator of all such Original Works of Arts and you are the sole and exclusive owner of all such Original Works of Art; (ii) as to Digital Works that you make available through the Site and Services, you are either the sole and exclusive owner of all such Digital Works or you have all rights, licenses, consents and releases that are necessary to grant to Latam Art the rights in such Digital Works as contemplated under these Terms; and (iii)neither the Original Works of Art nor Digital Works that you make available through the Site and Services nor Latam Art's use and exploitation thereof as contemplated under these Terms will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.

Online Sales

If you submit listings for Original Works of Art, you hereby appoint Latam Art as an independent non-exclusive reseller with the right to resell such Original Works of Art through the Site and Services and on third party websites (collectively “Online Sales”) and you hereby grant Latam Art a worldwide, transferable, nonexclusive, right and license, with a right to sublicense, to: (i) use, reproduce, distribute, publicly perform and publicly display copies of the Original Work of Art Sales via Online Sales channels; and (ii) access, view, use, crop, resize, copy, distribute, license, publicly display, publicly perform, transmit and broadcast copies of the Original Work of Art in any form, medium or technology now known or later developed for the purpose of promoting Latam Art, the Site and the Services. You acknowledge and agree that the foregoing license rights are granted on a royalty-free basis and that your sole compensation for the grant of such license rights, if any, will be in the form of the Artist Revenue Share (defined below), which is payable only upon the sale of an Original Work of Art via the Online Sales channel.

If you submit listings for Digital Works, you will Permit Members and other third parties to purchase fine art reproductions of the Digital Works (collectively, “Printed Works”) through our print service, which is described at http://help.Latamart.com/customer/portal/articles/1122331-making-prints-for-sale.

If you submit listings for Digital Works, you hereby grant Latam Art a worldwide, transferable, nonexclusive, right and license, with a right to sublicense, to (i) use, modify (as appropriate in connection with manufacturing and distribution of Printed Works), reproduce, distribute, publicly perform and publicly display the Digital Works in connection with the manufacture, distribution and sale of Printed Works to Members and other third parties via Online Sales and through other offline channels (“Offline Sales”)”). and (ii) access, view, use, crop, resize, copy, distribute, license, publicly display, publicly perform, transmit and broadcast copies of the Digital Works in any form, medium or technology now known or later developed, for the purpose of promoting Latam Art, the Site and the Services. You acknowledge and agree that the foregoing license rights are granted on a royalty-free basis and that your sole compensation for the grant of such license rights, if any, will be in the form of the Artist Revenue Share (defined below), which is payable only upon the sale of a Digital work via Online Sales channels and Offline Sales channels. Latam Art may appoint one or more third party subcontractors, who may exercise the license rights above for the purpose of enabling Latam Art to process and fulfill orders for Printed Works.

As between you and Latam Art, Latam Art will be deemed the seller of any Original Works of Art and Printed Works that are purchased via Online Sales channels. If an Original Work of Art and/or Printed Works are sold via a third party website, the terms and conditions of the third party website will apply to the purchase in question by the applicable purchaser via the third party website. However, as between you and Latam Art, these Terms will apply to the sale of such Original Work of Art and/or Printed Work.

Latam Art and/or its third party service providers will be responsible for collecting billing and shipping information from the purchaser and for processing payment for such purchases via the Site and Services. For purchases made via third party websites and for Offline Sales, the applicable third party website or Latam Art’s Offline Sales partner will be responsible for collecting billing and shipping information, as applicable, from the purchaser and for processing payments, and will remit applicable payments relating to such sales as agreed upon between Latam Art and the third party website or Latam Art’s Offline Sales partner, as applicable, to Latam Art and share related shipping information, including the contact details of the purchaser where necessary, with Latam Art.

For Original Works of Art only, Latam Art will provide you with the name and address of the purchaser and, unless otherwise instructed in writing by Latam Art, you will be responsible for shipping the purchased Original Work of Art directly to the purchaser. Latam Art will provide you with information regarding its preferred shippers with which Latam Art maintains an account. You agree to ship the purchased Original Work of Art to the purchaser within seven days following the date of purchase (the "Shipping Period"). If you do not ship the purchased Original Work of Art to the purchaser prior to the expiration of the Shipping Period, then the sale may be cancelled. If you ship the purchased Original Work of Art via a Latam Art preferred shipper account, Latam Art will be responsible for the cost of shipping. You are responsible for providing accurate shipping weight, shipping dimensions and shipping address to Latam Art if you are using a Latam Art preferred shipper. If actual shipping weight, shipping dimensions and shipping origination information at the time of shipment varies from the information provided by you, Latam Art (after providing documentation) reserves the right to deduct the resulting increased shipping costs from your Artist Revenue Share (defined below). If you do not ship the purchased Original Work of Art via a Latam Art preferred shipper or if you pay for the cost of shipping yourself, Latam Art will reimburse you for the amount you paid, up to the amount that Latam Art or the third party website charged the purchaser for shipping.

For sales of Original Works of Art via the Online Sales channels, Latam Art will credit your Account in an amount to be determined in accordance with Latam Art’s then-current standard pricing and commission terms, which may be found at support.Latamart.com/hc/en-us/articles/204629568 (the “Artist Revenue Share”); for sales of Original Works of Art via the Site and Services, subject to Latam Art’s receipt of confirmation of delivery to the purchaser, Latam Art will credit your Account with the corresponding Artist Revenue Share following the expiration of the return period and for sales of Original Works of Art via third party websites, Latam Art will credit your Account with the corresponding Artist Revenue Share within a commercially reasonable time after it has received payment from the third party website and the Original Work of Art has been confirmed to have been successfully delivered to the purchaser, as determined by Latam Art, in its sole discretion.

You agree to comply with the terms and conditions of Latam Art's then-current Return Policy at support.Latamart.com/hc/en-us/articles/205608487 that are applicable to any Original Works of Art that are sold through the Site and Services.

For sales of Printed Works via Online Sales and Offline Sales, Latam Art will credit your Account visible in the Sales Dashboard with the applicable Artist Revenue Share as set forth in Latam Art's then-current standard pricing and commission terms, which, as noted above, may be found at support.Latamart.com/hc/en-us/articles/204629568.

You will have the right to request Latam Art to remit the Artist Revenue Share in your Account in accordance with a Latam Art-designated payment schedule. Upon the termination of these Terms or cancellation of your Account, Latam Art will remit to you the remaining balance of Artist Revenue Shares in your Account, if any.

If you remove a listing for a Digital Work from the Site, the license rights granted by you to Latam Art to manufacture, distribute and sell Printed Works with respect to such Digital Work will terminate as of the date the listing is removed, except that such license rights will survive and remain in effect for as long as necessary for Latam Art and its third-party subcontractors to fulfill any in-progress orders for such Printed Works and for any orders for such Printed Works accepted by Latam Art or its third-party subcontractors or its Online Sales partners via third party websites and its Offline Sales partners prior to or as of the effective date of termination. In addition, you acknowledge and agree that the license rights granted by you to Latam Art with respect to using such Digital Work to promote Latam Art, the Site and the Services will remain in full force and effect for only as long as necessary for Latam Art to fulfill any current obligations that require using the Digital Work for such promotional purposes.

Purchaser Terms and Conditions

Purchases of Original Works of Art

As a Member, you may purchase Original Works of Art that are listed by other Members on the Site. When you purchase such an Original Work of Art through the Site and Services, you are purchasing the work from Latam Art and not from the Member identified on the listing for such work. Prices for Original Works of Art will be as specified on the applicable listing. You acknowledge that prices do not include shipping and handling charges or applicable Taxes (defined below), if any, for which you are responsible and which will be separately identified on your receipt. Latam Art and/or its third party service providers will collect your billing and shipping information and process your payment. The Member identified on the listing of the Original Work of Art will ship the purchased work directly to you. The terms and conditions of Latam Art's then-current Return Policy apply to any Original Works of Art that you purchase through the Site and Services. When you purchase Original Works of Art via Online Sales (other than via the Site and Services) such purchases will be subject to the terms and conditions of the applicable Online Sales channels which will be presented to you at the time of purchase.

Purchases of Printed Works

As a Member, you may purchase Printed Works that are listed by other Members on the Site. Prices for Printed Works will be as specified on the applicable listing. You acknowledge that prices do not include shipping and handling charges or applicable Taxes (defined below), if any, for which you are responsible and that will be separately identified on your receipt. When you purchase Printed Works through the Site and Services, Latam Art and its third party service providers will collect your billing and shipping information, process your payment and ship the Printed Works directly to you. The terms and conditions of Latam Art's then-current Return Policy apply to any Printed Works that you purchase through the Site and Services. When you purchase Printed Works via Online Sales (other than via the Site and Services) and Offline Sales such purchases will be subject to the terms and conditions of the applicable Online Sales and Offline Sales channels which will be presented to you at the time of purchase.

Order Cancellations

Latam Art reserves the right to cancel any order for an Original Work of Art or Printed Work placed via the Site and Services if Latam Art determines, in its sole discretion, that the item is mispriced, out of stock, discontinued, or otherwise unavailable at the price listed via the Site and Services. If Latam Art cancels an order placed via the Site and Services, Latam Art will send you an email confirmation of such cancellation and you will not be charged for your order.

Terms for both Sellers and Purchasers

Transaction Restrictions

If you are a Member and have submitted a listing for an Original Work of Art or a Digital Work and have been contacted through the Site and Services by another Member with respect to purchasing either of the foregoing, you may not sell such Original Work of Art or Digital Work to such Member independent of the Site and Services. Similarly, if you are a Member and desire to purchase an Original Work of Art or Digital Work for which another Member has submitted a listing, you may not purchase such Original Work of Art or Digital Work from such Member independent of the Site and Services.

Taxes

All prices, commissions, fees and other amounts referred to in these Terms, including any prices, commissions and fees set forth on the Site, are stated in U.S. dollars and do not include any sales, use, value added ("VAT"), goods and services ("GST") or similar taxes or withholding taxes or any customs, duties or tariffs that may be assessed by any governmental tax authority or that are otherwise payable under applicable law with respect to the purchase, sale and licensing transactions contemplated hereunder (collectively, "Taxes"). If you are a seller of Original Works and/or Printed Works, you acknowledge that Latam Art will withhold the Taxes required to be withheld from the payments Latam Art makes to you. Seller must fill out appropriate Tax forms prior to any commissions being paid. Commissions will be paid as follows:

For an Artist living within the United States, a W9 Tax Form must be filled out for both the sale of an Original or Prints.
For an Artist living outside the United States, a W8BEN Tax Form must be filled out for Originals and Prints. A W8BEN with an ITIN (Individual Taxpayer Identification Number) should be filled out for Prints. If an ITIN number is not provided, Latam Art will automatically withold at the maximum US Tax Rate. Funds will be sent to the United States Tax Office on your behalf.
Additional Tax information can be found by visiting http://www.Latamart.com/taxes.
If you are a purchaser of Original Works and/or Printed Works, you acknowledge that Latam Art will add Taxes to the amounts charged, as a separate charge, when required or when allowed to do so. Each party will be responsible for complying with any and all obligations imposed on it under applicable law with respect to the collection and payment of any Taxes. Each party will cooperate with the other party, and furnish the other party with any customary written documentation or forms required under applicable law to enable the other party to comply with such obligations or to exercise any rights available under applicable law to minimize or to qualify for an exemption from any such obligations.

Color

You understand and agree that Latam Art uses commercially reasonable efforts to display the colors of Original Works of Art, Digital Works and Printed Works accurately via the Site and Services. However, because individual computer monitors may display colors differently, Latam Art is not responsible for the color accuracy of any Original Works of Art, Digital Works or Printed Works displayed on the Site and Services, and disclaims all liability in this regard.

Feedback

We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site and Services ("Feedback"). You may submit Feedback by emailing us at help@Latamart.com. You acknowledge and agree that all Feedback will be the sole and exclusive property of Latam Art and you hereby irrevocably assign to Latam Art and agree to irrevocably assign to Latam Art all of your right, title and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At Latam Art's request and expense, you will execute documents and take such further acts as Latam Art may reasonably request to assist Latam Art to acquire, perfect and maintain its intellectual property rights and other legal protections for the Feedback.

Member Content

In addition to submitting listings for Original Works of Art and Digital Works, Latam Art may, in its sole discretion, designate areas of the Site in which Members can post, upload, publish or submit text, graphics, audio, video, images of works of art or other content on or to the Site (individually or collectively, "Member Content"). "Member Content" excludes any images of Original Works of Art or Digital Works for which a Member submits a listing, as described under "Seller Terms and Conditions" above. Latam Art does not claim any ownership rights in any such Member Content and nothing in these Terms will be deemed to restrict any rights that a Member may have to use and exploit any such Member Content. By making available any Member Content on or through the Site and Services, (i) you grant Latam Art a worldwide, non-exclusive, transferable, royalty-free, commission-free license to crop, resize, publicly display, publicly perform, distribute, broadcast and transmit such Member Content on or through the Site and Services in any form, medium or technology now known or later developed, for the purpose of promoting Latam Art, the Site and Services, and (ii) you grant directly to other Members the right and license to view your Member Content on or through the Site and Services only in connection with such Member's authorized use of the Site and Services. You reserve all other rights and licenses in and to any Member Content that you make available on or through the Site and Services.

You acknowledge and agree that you are solely responsible for any Member Content that you make available on or through the Site. You represent and warrant that: (i) you are the sole and exclusive owner of all Member Content that you make available on the Site or that you have all rights, licenses, consents and releases that are necessary to make available such Member Content and to grant all rights and licenses in such Member Content as granted under these Terms; and (ii)neither the Member Content nor your making available any Member Content on the Site nor any use of any Member Content as permitted under these Terms will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.

Latam Art Content

Latam Art may also make available through the Site and Services text, graphics, audio, video and images of works of art (collectively, "Latam Art Content"), some of which is owned by Latam Art ("Latam Art-owned Content"), and some of which is made available under license by a third party ("Latam Art-licensed Content"). Latam Art authorizes you to download, view and print Latam Art-owned Content" solely for your personal use in visiting the Site and, if you are a Member, in connection with exercising the rights granted to Members under these Terms. For Latam Art Licensed Content, the scope of your rights thereto will be solely as set forth in the applicable license agreement that governs the use of such content, as identified on the page of the Site where such content appears. Nothing in these Terms is intended to modify, restrict or limit the scope of your rights as to such Latam Art Licensed Content. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Latam Art or its licensors, except for the licenses and rights expressly granted in these Terms.

General Prohibitions

You agree not to do any of the following:

Post, upload, publish, submit or transmit any text, graphics, images, software, music, audio, video, information or other material that: (i)infringes, misappropriates or violates a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v)promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; (vii) harms minors in any way; or (viii) promotes illegal or harmful activities or substances.
Use, display, mirror or frame the Site, or any individual element within the Site, Latam Art's name, any Latam Art trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without Latam Art's express written consent;
Access, tamper with, or use non-public areas of the Site, Latam Art's computer systems, or the technical delivery systems of Latam Art's providers;
Attempt to probe, scan or test the vulnerability of any Latam Art system or network or breach any security or authentication measures;
Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Latam Art or any of Latam Art's providers or any other third party (including another user) to protect the Site, Services, Latam Art Content or Member Content;
Attempt to access or search the Site, Services, Latam Art Content or Member Content or download Latam Art Content or Member Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Latam Art or other generally available third party web browsers;
Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
Use any meta tags or other hidden text or metadata utilizing a Latam Art trademark, logo URL or product name without Latam Art's express written consent;
Use the Site, Services, Latam Art Content or Member Content for any commercial purpose or the benefit of any third party in any manner not otherwise permitted by these Terms;
Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services, Latam Art Content or Member Content to send altered, deceptive or false source-identifying information;
Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Latam Art Content or Member Content;
Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site;
Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission;
Impersonate or misrepresent your affiliation with any person or entity;
Violate any applicable law or regulation; or
Encourage or enable any other individual to do any of the foregoing.
Latam Art will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law. Latam Art may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that Latam Art has no obligation to monitor your access to or use of the Site or Services or to remove any Member Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Latam Art reserves the right, at any time and without prior notice, to remove or disable access to any Member Content, listings for Original Works of Art or Digital Works, Latam Art Content or any other text, graphics, images, software, music, audio, video, information or other content or material that Latam Art, at its sole discretion, considers to be objectionable, in violation of these Terms or otherwise harmful to the Site or Services.

Sweepstakes and Contests

Latam Art may operate sweepstakes, contests and similar promotions (collectively, "Promotions") through the Site and Services. You should carefully review the rules (e.g., the "Official Rules") of each Promotion in which you participate through the Site and Services, as they may contain additional important information about Latam Art's rights to and ownership of the submissions you make as part of the Promotions and as a result of your participation in such Promotions. To the extent that the terms and conditions of any Official Rules conflict with these Terms, the terms and conditions of the Official Rules will control.

Ownership

The Site, Services and Latam Art Content are protected by copyright, trademark and other laws of the United States and foreign countries. Except as expressly provided in these Terms, Latam Art and its licensors exclusively own all right, title and interest in and to the Site, Services and Latam Art Content and Printed Works, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Latam Art Content.

Copyright Policy

Latam Art respects copyright law and expects its users to do the same. It is Latam Art's policy to terminate in appropriate circumstances of Members or other Account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders. Please see Latam Art's Copyright Policy at www.Latamart.com/copyright for further information.

Links

The Site may contain links to third-party websites or resources. You acknowledge and agree that Latam Art is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Latam Art of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.

Termination and Account Cancellation

If you breach any of these Terms, Latam Art will have the right to suspend or disable your Account or terminate these Terms, at its sole discretion and without prior notice to you. Latam Art reserves the right to revoke your access to and use of the Site, Services, Latam Art Content and Member Content at any time, with or without cause. In the event Latam Art terminates these Terms for your breach, you will remain liable for any amounts due hereunder. You may cancel your Account at any time by sending an email to help@Latamart.com.

Disclaimers

THE SITE, SERVICES, Latam Art CONTENT AND MEMBER CONTENT ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, Latam Art EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. Latam Art MAKES NO WARRANTY THAT THE SITE, SERVICES, Latam Art CONTENT OR MEMEBR CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. Latam Art MAKES NO WARRANTY REGARDING THE QUALITY OF ANY WORKS, SERVICES, CONTENT OR PRODUCTS PURCHASED OR OBTAINED THROUGH THE SITE OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH THE SITE OR SERVICES.

NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM Latam Art OR THROUGH THE SITE OR SERVICES, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.

YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OR USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES. YOU UNDERSTAND THAT, EXCEPT AS EXPRESSLY SET FORTH IN THESE TERMS, Latam Art DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF MEMBERS OR OTHER USERS OF THE SITE OR SERVICES, NOR DOES Latam Art MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF ANY MEMBERS OR USERS OF THE SITE OR SERVICES. Latam Art MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE SITE OR SERVICES.YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OR USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.

Indemnity

You agree to defend, indemnify, and hold Latam Art, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Site, Services, Latam Art Content or Member Content, or your violation of these Terms.

Limitation of Liability

You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the Site, Services, Latam Art Content and Member Content remains with you. Neither Latam Art nor any other party involved in creating, producing, or delivering the Site, Services, Latam Art Content or Member Content will be liable for any incidental, special, exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress arising out of or in connection with these Terms or from the use of or inability to use the Site, Services, Latam Art Content or Member Content, or from any communications, interactions or meetings with other Members or users of the Site or Services or other persons with whom you communicate or interact as a result of your use of the Site or Services, whether based on warranty, contract, tort (including negligence), product liability or any other legal theory, and whether or not Latam Art has been informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed of its essential purpose.

In no event will Latam Art's aggregate liability arising out of or in connection with these Terms or from the use of or inability to use the Site, Services, Latam Art Content or Member Content exceed: (i) if you are a Member who has sold Original Works of Art or has licensed Digital Works and has received any Artist Revenue Share from Latam Art from the sale of Printed Works, the total payments made or credited to you by Latam Art for the sale of your Original Works of Art and/or from the sale of Printed Works based on your licensed Digital Works during the three (3) month period preceding the date a claim for liability arises under these Terms; and (ii) if you are a Member who has purchased Original Works of Art or Printed Works, the total payments that you made to Latam Art for the Original Works of Art and/or Printed Works that are the subject of a claim. The limitations of damages set forth above are fundamental elements of the basis of the bargain between Latam Art and you. Some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.

Proprietary Rights Notices

All trademarks, service marks, logos, trade names and any other proprietary designations of Latam Art used herein are trademarks or registered trademarks of Latam Art. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.

Controlling Law and Jurisdiction

These Terms and any action related thereto will be governed by the laws of California without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms will be the state and federal courts located in the Southern District of California and each of the parties hereto waives any objection to jurisdiction and venue in such courts.

Entire Agreement

These Terms constitute the entire and exclusive understanding and agreement between Latam Art and you regarding the Site and Services and these Terms supersede and replace any and all prior oral or written understandings or agreements between Latam Art and you regarding the Site and Services.

Assignment

You may not assign or transfer these Terms, by operation of law or otherwise, without Latam Art's prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Latam Art may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.

Notices

Any notices or other communications permitted to required hereunder, including those regarding modifications to these Terms, will be in writing and given: (i) by Latam Art via email (in each case to the address that you provide) or (ii) by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.

General

The failure of Latam Art to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Latam Art. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
     
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          
        </div>
      </div>
    </div>
</div>
