 <div class="row">
    	<h1 class="gallery-title">About</h1>
	</div>

 <div  align = "center" class= align="" "col-md-4 col-sm-6" >
        <a href="">   <%= image_tag("CuadroGalleria-LatamArt.png")%> </a>
		
		</div> 

  <div  class= "col-md-4 col-sm-12">

<p style="color:#000000; font-family: 'Rubik',sans-serif; text-align: justify;"></p>
</div> 

 <div  class= "col-md-4 col-sm-12">
<br>
<p style="color:#000000; font-family: 'Rubik',sans-serif; text-align: justify;"> Latam Art is a living entity in constant change and suffering the consequences of globalization assuming a number of cross references that draw the artistic to a virtual adventure where anything seems possible and permitted. Philosophy and history art and politics, literature and linguistics is the related content presented in a didactic form to the active mind, creating the perfect trigger to find techniques and materials that allow Latamart to present a creative eye to the world.</p>




</div> 