<br>
<br>
<br>

<div class="row">
 
  <div class="col-sm-6 col-sm-offset-3">
 <%=form_tag "/search", method: :get, class: "search_letra" do %>
          <%= text_field_tag :keyword, nil, placeholder: "Search the best artworks", value: params[:keyword],class: "form-control"%>
  <% end %>
  </div>
</div>



<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">Appreciation</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-2">



                        <div class="support-menu">
                            <nav class="vertical">
                                <ul class="menu">
                                      
      
                                          <% if user_signed_in? %>
                                            <% if current_user.type_user == '1' %>
                                              <li><%= link_to "New artwork", new_listing_path, data: { no_turbolink: true } %></li>
                                            <% end %>
                                          <% end %>
                                          <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
                                            <ul>
                                            <% categories = Category.all.order(:name) %>
                                              <% categories.each do |category|%>
                                               <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 

                                           <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret"></b></a>
                                            <ul>
                                            <% subjects = Subject.all.order(:name) %>
                                              <% subjects.each do |subject|%>
                                               <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 



                            

                                            <li><%= link_to "Artist", pages_artist_path %></li>  
                                            <li><%= link_to "Exhibition", pages_exhibition_path %></li> 
                                            <li><%= link_to "Appreciation", pages_Appreciation_path %></li> 
                                         <li><%= link_to "Museums", pages_museums_path %></li> 
                                          <li><%= link_to "Sign Up", new_user_registration_path %></li> 
                                            <li><%= link_to "Login", new_user_session_path%></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

 <div class="container">
    <div class="row">
<div class="col-md-10">
<div>


  <div class="col-sm-10">
    <div class="panel-body">
    

<% counter = 0 %>
  <% @comments.each do |comment|%>

  <li class="list-group-item">
  <div class="media">
    <div class="media-left">
      <strong>Curator</strong>
      <%= image_tag comment.user.photo.url(:thumb), height: '50', width: '50'%>
    </div>

    <div class="media-left">
      
      <% if comment.listing.present?%>
        <strong>Artwork</strong>
        <%= link_to comment.listing do %>
          <%= image_tag comment.listing.pictures[0].image.url(:thumb), height: '50', width: '50'%>
        <% end %>
      <% else %>
        <strong>Artists</strong>
        <%= link_to user_profile_path(:nick => User.find(comment.user_id).nick) do %>
        
        <%= image_tag User.find(comment.user_id).photo.url(:thumb), height: '50', width: '50'%>
        <% end %>
      <% end %>
    </div>


    <div class="media-body">
      <h5 class="media-heading"><%= comment.user.first_name + ' ' + comment.user.last_name %></h5> 
      <fieldset class="rating-static">

      <%if comment.qualification == 5%>
        <input type="radio" id=group<%=counter%>str5 name=group<%=counter%> value="5" checked disabled/><label class = "" for=group<%=counter%>str5></label>
      <% else %>
        <input type="radio" id=group<%=counter%>str5 name=group<%=counter%> value="5" disabled/><label class = "full" for=group<%=counter%>str5></label>
      <% end %>

      <%if comment.qualification == 4%>
        <input type="radio" id=group<%=counter%>str4 name=group<%=counter%> value="4" disabled checked/><label class = "full" for=group<%=counter%>str4 ></label>
      <% else %>
        <input type="radio" id=group<%=counter%>str4 name=group<%=counter%> value="4" disabled/><label class = "full" for=group<%=counter%>str4></label>
      <% end %>

      <%if comment.qualification == 3%>
        <input type="radio" id=group<%=counter%>str3 name=group<%=counter%> value="3" disabled checked disabled/><label class = "full" for=group<%=counter%>str3 ></label>
      <% else %>
        <input type="radio" id=group<%=counter%>str3 name=group<%=counter%> value="3" disabled/><label class = "full" for=group<%=counter%>str3></label>
      <% end %>
    
      <%if comment.qualification == 2%>
        <input type="radio" id=group<%=counter%>str2 name=group<%=counter%> value="2" checked disabled/><label class = "full" for=group<%=counter%>str2></label>
      <% else %>
        <input type="radio" id=group<%=counter%>str2 name=group<%=counter%> value="2" disabled/><label class = "full" for=group<%=counter%>str2></label>
      <% end %>

      <%if comment.qualification == 1%>
        <input type="radio" id=group<%=counter%>str1 name=group<%=counter%> value="1" checked disabled/><label class = "full" for=group<%=counter%>str1></label>
      <% else %>
        <input type="radio" id=group<%=counter%>str1 name=group<%=counter%> value="1" disabled/><label class = "full" for=group<%=counter%>str1></label>
      <% end %>
      
    </fieldset>
    <br>
    <br>
      <i><%= comment.created_at.strftime("%B %-d, %Y") %></i>
      <p><%= comment.text %></p>
    </div>
  </div>
  </li>
  <% counter = counter+1 %>
<% end %>

<div class='row text-center'>
    <%= will_paginate @comments %>
</div>


</div>


</div>


  </div>




    
            </div>
        </div>
    </div>
</section>  
   
</div>
</div>

