<br>
<br>
<br>
<div class="row">
 
  <div class="col-sm-6 col-sm-offset-3">
 <%=form_tag "/search", method: :get, class: "search_letra" do %>
          <%= text_field_tag :keyword, nil, placeholder: "Search the best artworks", value: params[:keyword],class: "form-control"%>
  <% end %>
  </div>
</div>



<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">Artists</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-2">



                        <div class="support-menu">
                            <nav class="vertical">
                                <ul class="menu">
                                    
                                          <% if user_signed_in? %>
                                            <% if current_user.type_user == '1' %>
                                              <li><%= link_to "New artwork", new_listing_path, data: { no_turbolink: true } %></li>
                                            <% end %>
                                          <% end %>
                                          <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
                                            <ul>
                                            <% categories = Category.all.order(:name) %>
                                              <% categories.each do |category|%>
                                               <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 

                                           <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret"></b></a>
                                            <ul>
                                            <% subjects = Subject.all.order(:name) %>
                                              <% subjects.each do |subject|%>
                                               <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
                                              <% end %>
                                            </ul>
                                          </li> 



                            

                                            <li><%= link_to "Artist", pages_artist_path %></li>  
                                            <li><%= link_to "Exhibition", pages_exhibition_path %></li> 
                                            <li><%= link_to "Appreciation", pages_Appreciation_path %></li> 
                                           <li><%= link_to "Museums", pages_museums_path %></li>
                                              <li><%= link_to "Sign Up", new_user_registration_path %></li> 
                                              <li><%= link_to "Login", new_user_session_path%></li> 
                                </ul>
                            </nav>
                        </div>
                    </div>
 <div class="container">
    <div class="row">
<div class="col-md-6">

 <%= render partial: 'artist_grid', locals: { results: @results} %>

            </div>
        </div>
    </div>
</section>  
   
</div>
</div>



<script type="text/javascript">

    $(document).ready(function(){
        $.ajax({
         url: "/fetch_listings_user",
         type: "GET",
         data: {cat_id: 1}
        });

        $.ajax({
         url: "/fetch_listings",
         type: "GET",
         data: {page: 1}
        });
    });

</script>