<%= form_for(@bank_account, :url => create_bank_account_admin_path(@bank_account)) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <% @users = User.all %>
    <%= f.select :user_id, options_for_select(@users.map{ |s| [s.email, s.id] }, selected_key = @bank_account.user_id),{ :include_blank => false }, { :class => 'btn btn-primary' } %>
  </div>

  <div class="form-group">
    <%= f.label :bank %>
    <%= f.text_field :bank, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>