<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">
  <h4>Addresses</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Country</th>
      <th class="center">City</th>
      <th class="center">Address</th>
      <th class="center">Zip code</th>
      <th class="center">User</th>
      <th colspan="2"></th>
    </tr>

    <% @addresses.each do |address| %>
      <tr>
        <td class="center"><%= address.country %></td>
        <td class="center"><%= address.city %></td>
        <td class="center"><%= address.address %></td>
        <td class="center"><%= address.zip_code %></td>
        <% user = User.find(address.user_id)%>
        <td class="center"><%= user.first_name + ' ' + user.last_name %> <br> <%= user.email%></td>
        <td class="center"><%= link_to 'Edit', edit_address_admin_path(address) %></td>
        <td class="center"><%= link_to 'Destroy', destroy_address_admin_path(address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= link_to 'New Address', new_address_admin_path %>
</div>