<div class = "col-md-2 text-center">
<nav class="navbar navbar-default" role="navigation">
<ul class="nav navbar-nav">
	<li><a class="navbar-brand" href="/admins/users">Users</a></li>
	<li><a class="navbar-brand" href="/admins/addresses">Addresses</a></li>
	<li><a class="navbar-brand" href="/admins/bank_accounts">Bank accounts</a></li>
	<li><a class="navbar-brand" href="/admins/artworks">Artworks</a></li>
	<li><a class="navbar-brand" href="/admins/orders">Orders</a></li>
	<li><a class="navbar-brand" href="/admins/categories">Categories</a></li>
	<li><a class="navbar-brand" href="/admins/subjects">Subjects</a></li>
	<li><a class="navbar-brand" href="/admins/currencies">Currencies</a></li>
</ul>
</nav>

</div>