<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">
  <h4>Categories</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Image</th>
      <th class="center">Name</th>
      <th class="center">Description</th>
      <th colspan="3"></th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <% if category.photo.present?%>
          <td class="center"><%= image_tag category.photo.url(:thumb) %></td>
        <% else %>
          <td class="center"><%=No image%></td>
        <% end %>
        <td class="center"><%= category.name %></td>
        <td class="center"><%= category.description %></td>
        <td class="center"><%= link_to 'Show', category %></td>
        <td class="center"><%= link_to 'Edit', edit_category_path(category) %></td>
        <td class="center"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= link_to 'New Category', new_category_path %>
</div>