<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div>
    <ul class="">
   

    </ul>

     <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><%= image_tag("latamART.png", class: "img-responsive") %></a><li>
     
   <!--   <li><%= link_to "Contacto", pages_contact_path %></li> -->
  <!--    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <% categories = Category.all %>
          <% categories.each do |category|%>
            <li><%= link_to category.name, pages_category_path(:category => category.name.downcase) %></li>
          <% end %>
        </ul>
      </li>
      <li> -->
     <!--   <%=form_tag "/search", method: :get, class: "" do %>
          <%= text_field_tag :keyword, nil, placeholder: "Search", value: params[:keyword],class: "form-control mr-sm-2"%>
          <%= select_tag(:option, options_for_select([['Art', 1], ['Artist', 2], ['Curator', 3], ['Collector', 4]], :selected => params[:option]), { :class => 'btn btn-primary' }) %>
          <%= content_tag :button, type: :submit, class: "btn btn-success my-2 my-sm-0" do%>
            <span class="fa fa-search" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </li>
    </ul> -->


  <!--  -->
      
   <!--   <li><%= link_to cart_path, style: "font-family: 'Rubik',sans-serif;" do %>
        <i class="fa fa-shopping-cart"></i>
        <%="(" + @shopping_cart.listings.count.to_s + ")" %>
        <% end %>
      </li> -->

      <% if user_signed_in? %>
        <% if current_user.type_user == '1'%>
          <li class="dropdown">
          <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Manage my artworks", seller_path %></li>
              <li><%= link_to "Sales History", sales_path %></li>
            </ul>
          </li> -->
        <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag(current_user.photo, height: '30', width: '30') %>
            <% if !current_user.first_name.to_s.empty? %>
              <%= current_user.first_name + ' ' + current_user.last_name %> <b class="caret">
            <% end %>
            </b>
          </a>
          <ul class="dropdown-menu">
        <!--     <li><%= link_to "Purchase History", purchases_path %></li> -->
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "", new_user_registration_path %></li>
        <li><%= link_to "", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){
  $('.menu li:has(ul)').hover(function(e){
    e.preventDefault();
    if ($(this).hasClass('activado')) {
      $(this).removeClass('activado');
      $(this).children('ul').slideUp();
    }else{
      $('.menu li ul').slideUp();
      $('.menu li').removeClass('activado');
      $(this).addClass('activado');
      $(this).children('ul').slideDown();
    }
  });
});
</script>
