<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/admins/users">Administration</a><li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <% if admin_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_admin.email %> <b class="caret">
            </b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Profile", edit_admin_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </li>

      <% else %>
      
        <li><%= link_to "Sign In", new_admin_session_path %></li>

      <% end %>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>