<!DOCTYPE html>
<html>
<head>
  <title>LatamArt</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300" rel="stylesheet">
  <%= csrf_meta_tags %>
  
</head>
<body>


<%if current_page?(new_admin_session_path) || current_page?(admin_session_path) || 
current_page?(destroy_admin_session_path) || current_page?(new_admin_password_path) || 
current_page?(edit_admin_password_path) || current_page?(admin_password_path) || 
current_page?(cancel_admin_registration_path) || current_page?(new_admin_registration_path) || 
current_page?(edit_admin_registration_path) || current_page?(admin_registration_path) || admin_signed_in? %>
  <%= render 'layouts/header-admin' %>
<% else %>
  <%= render 'layouts/header-normal' %>
<% end %>

<div class="container">

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "success" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <%= yield %>

</div>

<%if !(current_page?(new_admin_session_path) || current_page?(admin_session_path) ||current_page?(destroy_admin_session_path) || current_page?(new_admin_password_path) || current_page?(edit_admin_password_path) || current_page?(admin_password_path) || current_page?(cancel_admin_registration_path) || current_page?(new_admin_registration_path) || current_page?(edit_admin_registration_path) || current_page?(admin_registration_path) || admin_signed_in?) %>
<%= render 'layouts/footer' %>
<% end %>

</body>
</html>
